button {
  cursor: pointer;
    display: flex;
    height: 24px;
    padding: 4px 22px;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 5px;
    background: #696969;
    color: #FFF;
    text-align: center;
    font-family: Saira;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.SAVE {
    align-items: flex-start;
    background-color: #696969;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    height: 24px;
    padding: 4px 22px;
    position: relative;
  }
  
  .SAVE .label {
    align-self: stretch;
    color: #ffffff;
    flex: 1;
    font-family: "Saira-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
  }
  